/** Dialog override */
.skull-king .ui-widget.ui-widget-content {
  border: 1px outset #b36e32;
}

.skull-king .ui-widget-header {
  background: linear-gradient(to bottom, #ffba44, #ffa50b);
  border: 1px outset #ffba44;
  color: #78350e;
}

.skull-king .ui-widget-content {
  background: #b87a42;
  color: #ffba44;
}

.skull-king .ui-dialog .ui-dialog-buttonpane {
  border-color: #ffba44;
  padding: 0;
}

.skull-king .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  display: flex;
  justify-content: center;
  width: 100%;
}

.skull-king .ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em;
}

.skull-king .ui-button {
  border: outset 1px #78350e;
  background: linear-gradient(to bottom, #ffba44, #ffa50b);
  color: #78350e;
  font-weight: bold;
  opacity: 0.75;
}
.skull-king .ui-button:hover {
  border: inset 1px #ffba44;
  opacity: 1;
}