/** Common */
.hidden {
    display: none;
}

/** Head title */
.head-title-container {
    font-size: 30px;
    margin: 0px;
    padding: 5px;
    background-color: #78350e;
    color: #ffba44;
    display: flex;
}

#head-title {
    flex-grow: 1;
}

main {
    overflow-x: hidden;
}

/** Played cards container */
#played-cards-container {
    background-image: url('../assets/cards-background.jpg');
    background-position: center;
    background-color: black;
    background-size: contain;
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.played-card {
    position: relative;
}

.player-label {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #ffba44;
    background: #78350e;
}

.top-left-angle {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right-angle {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
}

.bottom-right-angle {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.bottom-left-angle {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
}

.fake-border {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid #b87a42;
}

/** Cards container */
#player-hand-container {
    position: fixed;
    bottom: 25px;
    width: 100%;
}

#player-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -120px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 350px;
}

#player-cards-container > .card-display {
    width: 60px;
    z-index: 1;
}

#player-cards-container > .card-display:hover {
    z-index: 2;
    zoom: 1.25;
    position: relative;
    margin-top: -20px;
    cursor: zoom-in;
}

#player-cards-container.not-playing > .card-display {
    opacity: 0.5;
    cursor: not-allowed;
}

#player-cards-container.not-playing > .card-display:hover {
    opacity: initial;
}

#player-cards-container.playing > .card-display:hover {
    cursor: pointer;
}

.played-card > img, 
.card-display > img {
    border-radius: 15px;
}

/** Tigresse dialog */
.tigresse-choice {
    display: flex;
    justify-content: center;
}

.tigresse-choice > .card-display:hover {
    cursor: pointer;
}

/** Folds count */
#fold-count-picker {
    display: flex;
    justify-content: center;
    margin: 10px;
    position: relative;
    z-index: 2;
}

#fold-count-picker.bet-selected > .fold-count-display {
    opacity: 0.5;
}

.fold-count-display {
    cursor: pointer;
    margin: 5px;
}

#fold-count-picker.bet-selected > .fold-count-display.selected-bet {
    border: 4px solid #ffba44;
    opacity: 1;
    border-radius: 10px;
    margin-top: -5px;
}

.fold-count-display > img {
    border-radius: 5px;
}

.fold-count-display > img {
    width: 40px;
}

.fold-count-display.selected-bet,
.fold-count-display:hover {
    z-index: 2;
    zoom: 1.25;
    position: relative;
    margin-top: 0;
}

/** Players bets */
#players-bets-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.player-bet {
    border: 2px solid #78350e;
    border-radius: 5px;
    background-color: #ffba44;
    color: #78350e;
    width: 100px;
    margin: 0 20px;
    text-align: center;
    padding-bottom: 5px;
}

.player-bet.current-player {
    border-color: #ffba44;
    background-color: #b36e32;
    color: #ffba44;
}

.player-name {
    font-weight: bold;
}

.player-bet > .bet-value > img {
    width: 20px;
    border-radius: 25px;
}

/** Player fold dialog */
.fold-display-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.fold-card {
    position: relative;
}

/**  Help */
.help-button-container {
    position: fixed;
    bottom: 50px;
    left: 25px;
}

#help-display-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#help-button {
    border-radius: 25px;
    border: 3px outset #78350e;
}
#help-button:hover {
    border-style: inset;
    border-color: #ffba44;
}