/**
 * Style classes
 */
.big-text {
    font-weight: bold;
    font-size: 150%;
}

i.fixed-size {
    width: 15px;
}

.lobby-container button[disabled] {
    background-color: #685448;
    color: #a5844f;
}

.draggable {
    border: 1px solid white;
}

/**
 * Font
 */
@font-face {
  font-family: pirate;
  src: url("../assets/fonts/pieces-of-eight.ttf");
}

.pirate-font {
  font-family: pirate, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
}

.ui-dialog {
  font-family: pirate, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
}

/** 
 * Page structure
 */

html,
body {
    /*background: #7d5308;*/
    background-image: url("../img/wood-2.jpg");
    background-size: cover;
    height: 100%;
}

body {
    position: relative;
    min-height: 100vh;
}

main {
    font-family: pirate, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    padding-bottom: 2.5rem;
    overflow-y: auto;
    height: calc(100% - 140px);
}

footer {
    background-color: #010101;
    color: #ffba44;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

.head-container {
    background-color: #010101;
    min-height: 70px;
}

/**
 * Lobby
 */
 .lobby-container {
    margin: 10px;
    text-align: center;
}

.lobby-inputs,
.players-list {
    background-color: #010101;
    color: #ffba44;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    margin: auto;
}

.primary {
    background-color: #78350e;
}

#room-password-link {
    cursor: pointer;
}

#room-password-link:hover {
    text-decoration: underline;
}

.lobby-inputs-title,
.rooms-list-title {
    margin-bottom: 5px;
}

.button-container {
    margin-top: 5px;
}

.room-id-title {
    font-weight: bold;
    font-size: 150%;
}

#random-room-id-btn {
    position: absolute;
    margin-left: 5px;
}

#room-password-link {
    cursor: pointer;
}

#room-password-link:hover {
    text-decoration: underline;
}

.info-players {
    font-size: 75%;
}

#rooms-list {
    margin-top: 10px;
}


.lobby-inputs-title,
.rooms-list-title {
    margin-bottom: 5px;
}

.room-line {
    display: flex;
}

.room-line>div {
    flex: 1;
}

.room-line>.room-name {
    flex: 2;
    font-weight: bold;
}

.room-line {
    font-weight: bold;
}

.room-status-3>.room-name,
.room-status-3>.room-status {
    color: #e74c3c;
}

.room-status-2>.room-name,
.room-status-2>.room-status {
    color: #e67e22;
}

.room-status-1>.room-name,
.room-status-1>.room-status {
    color: #27ae60;
}

.room-status-1>.room-name {
    cursor: pointer;
}

.room-status-1>.room-name:hover {
    text-decoration: underline;
    color: #219250;
}

.room-status-2>.room-name,
.room-status-3>.room-name {
    cursor: not-allowed;
}

/* Debug button */
#debug-button {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    left: 5px;
    background-color: black;
}

#debug-button:hover:not(.active) {
    background-color: #2a2a2a;
}

#debug-button.active {
    background-color: #219250;
}